.nav-pills .nav-link {
  border-radius: 0;
  color: black;
  background-color: #dddddd;
}
.nav-pills .nav-item:not(:nth-last-child(1)) .nav-link {
  border-right: 1px solid white;
}
.tab-content {
  background-color: oldlace;
  border: 1px solid #dddddd;
}
.col-sm {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.works-img {
  object-fit: contain;
  width: 25px;
}

.btn-light {
  border: 0.2px solid gainsboro;
}

.description {
  text-align: left;
  padding-top: 1rem;
  line-height: 1.5;
}

.col_3 {
  padding-left: 1rem;
}
