.nav-pills .nav-link {
  border-radius: 0;
  color: black;
  background-color: #dddddd;
}
.nav-pills .nav-item:not(:nth-last-child(1)) .nav-link {
  border-right: 1px solid white;
}
.tab-content {
  background-color: #f9fafb;
  border: 1px solid #dddddd;
}
.col-sm {
  display: flex;
  /* display: inline-block; */
  /* margin: 0; */
  /* padding: 0; */
  justify-content: space-evenly;
  padding: 1rem;
}

.works-img {
  object-fit: contain;
  height: 50px;
  width: 50px;
  /* border-radius: 10%; */
}

.btn-light {
  border: 0.2px solid gainsboro;
}