.wrap {
  padding: 1rem;
}


:root {
  --black-color: #010000;
  --white-color: #ffffff;
  --lightgray-color: #e6e6e6;
}

.App {
  font-size: 16px;
  /* height: 100vh; */
  width: 100%;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 100%;
  /* background: black; */
  background: yellowgreen;
  color: white;
  height: 90px;
  /* position: fixed;
  z-index: 10; */

  position: sticky;
  top: 0;
  z-index: 999;
}

header .logo h3 {
  margin: 0;
  padding: 0;
  color: white;
}

section {
  /* background-color: aquamarine; */
  margin-top: 5rem;
}

.myname {
  padding-bottom: 1rem;
}

.strong-color {
  color: salmon;
}

/* .profile-box {
  width: 800px;
} */

/* .skill_thema-box {
  background-color: red;
  display: inline-block;
  padding: 35px;
} */

.skillbox {
  /* border-radius: 1.5%; */
  border: solid 1px #1d1d1d;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: cornsilk;
}

.skill_name-top {
  /* display: inline-block; */
  /* text-align: center; */
  padding-left: 0;
  padding-bottom: 1rem;
  /* justify-content: space-evenly; */
}

.skill-name {
  font-weight: bold;
}

#skill {
  max-width: 100%;
}

.skill-item {
  /* margin: 0 1rem; */
  border-top: dotted 1px gray;
  /* justify-content: center; */
  /* box-sizing: borderーbox; */
  padding: 0.5rem;
}
@media screen and (max-width: 500px) {
  .skill-item {
    flex-direction: column;
  }
}


/* h5 {
  text-align: left;
  margin: 0;
  margin-left: 5px;
  padding-top: 1rem;
} */

.word-break {
  word-break: break-all;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: olivedrab;
}

/* .container {
  height: 100vh;
  padding: 120px;
} */

.title {
  text-align: center;
  /* font-size: 50px; */
}

.profile-wrap {
  background-color: beige;
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 1rem;
}

.profileImage {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.skill-thema {
  /* display: inline-block; */
  /* object-fit: contain; */
  /* display: block; */
  /* text-align: center; */
  width: 120px;
  /* border: red solid 1px; */
}

/* Col>img {
  display: block;
} */

.skill-img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 10%;
}
.skill-img_union {
  object-fit: contain;
  /* object-fit: cover; */
  height: 50px;
  width: 50px;
  border-radius: 10%;
  border: solid 0.5px grey;
  background-color: #ffffff;
}

.img-wrap {
  background-color: red;
  padding: 0 0.5rem;
}